services:
  app:
    build: .
    ports:
      - "7280:7280"
    container_name: wow_vo
    image: wow_vo:latest
    networks:
      - frontend
      - backend
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    develop:
      watch:
        - action: sync
          path: .
          target: /app

    shm_size: "8g"
    volumes:

      - ../WoTLK335a_HDMods/Interface/AddOns/AI_VoiceOverData_TBC:/app/AI_VoiceOverData_TBC
      - ../WoTLK335a_HDMods/Interface/AddOns/AI_VoiceOverData_WoTLK:/app/AI_VoiceOverData_WoTLK
      - ../WoTLK335a_HDMods/Interface/AddOns/AI_VoiceOverData_VanillaExtra:/app/AI_VoiceOverData_VanillaExtra


    command: ["python3", "wow_vo.py", "--port", "7280"]
    labels:
      - "traefik.enable=false"
      - "com.docker.compose.port=7280"
  db:
    image: mysql:latest
    container_name: wowdb
    environment:
      MYSQL_ROOT_PASSWORD: wow
    volumes:
      - wow_vo_webui-data:/var/lib/mysql
    networks:
      - backend
    ports:
      - "4227:3306"
networks:
  frontend:
  backend:
volumes:
  wow_vo_webui-data:
